body > div {
  width: 640px;
  margin: 0 auto;
}
body > div > h1 {
  width: 240px;
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 10px;
}
tr.even {
  background-color: #ccc;
}
tr.odd {
  background-color: white;
}
tr:hover {
  background-color: yellow;
}
