html {
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#global-clock {
    text-align: center;
}

#chess-board {
    justify-content: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 0;
    min-width: 400px;
    min-height: 400px;
    max-width: 35vw;
    max-height: 35vh;
}

.player-name {
    font-weight: bold;
}

div.board-and-scores {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

div.board-and-scores table {
    display: block;
    overflow: auto;
    min-height: 380px;
    max-height: 30vh;
}

div.board-and-scores table tr {
    white-space: nowrap;
    font-size: small;    
}

td.move {
    width: 4ch;
}

td.time {
    width: 12ch;
    white-space: nowrap;
}

td.score {
    width: 2ch;
}

.square {
    min-width: 50px;
    min-height: 50px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.square:hover, .selected:hover {
    background-color: lightseagreen !important;
}

.selected {
    border: 4px solid lightseagreen !important;
    box-sizing: border-box;
}

.white {
    background-color: white;
}

.black {
    background-color: darkgray;
}

.stopped {
    background-color: black;
    color: white;
}
