html {
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#global-clock {
    text-align: center;
    margin-bottom: 1.5em;
    button {
        border-radius: 6px;
        padding: 8px;
        border-color: rgba(0, 0, 0, 0.65);
        color: rgba(0, 0, 0, 0.75);
    }
}

#chess-board {
    justify-content: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 0;
    min-width: 400px;
    min-height: 400px;
    max-width: 35vw;
    max-height: 35vh;
}

.player-name {
    font-weight: bold;
}

div.board-and-scores {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

div.board-and-scores table {
    display: block;
    overflow: auto;
    min-height: 380px;
    max-height: 30vh;
}

div.board-and-scores table tr {
    white-space: nowrap;
    font-size: small;    
}

td.move {
    width: 4ch;
}

td.time {
    width: 12ch;
    white-space: nowrap;
}

td.score {
    width: 2ch;
}

.square {
    min-width: 50px;
    min-height: 50px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.square.white:hover, .selected.white {
    transform: scale(1.1);
    border: none !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1.0);
}

.square.black:hover, .selected.black {
    transform: scale(1.05);
    border: none !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1.0);
}

.selected {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.white {
    background-color: white;
}

.black {
    background-color: darkgray;
}

.stopped {
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: white !important;
    font-weight: bolder !important;
}

.step-move {
    border: 2px solid rgba(105, 105, 105, 0.8) !important;
    box-sizing: border-box;
}

.last-move {
    border: 2px solid rgba(105, 105, 105, 0.9) !important;
    box-sizing: border-box;
}

#social-buttons {
    text-align: center;
    button {
        border: none;
        outline: none;
        background-color: transparent;
        width: 60px;
        height: 60px;
        font-size: 3rem;
        cursor: pointer;
        transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
    }
    button:active {
        transform: scale(1.25);
    }
    button:hover {
        transform: scale(1.15);
    }
}
