<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global_style.css">
    <title>Chess Game</title>
    <script src="/static/js/chess_game.js" defer></script>
</head>
<body>
    <h1>Chess Game</h1>
    <div id="global-clock">
        <button id="clock-control">00 : 00 : 00</button>
    </div>
    <div>&nbsp;</div>
    <div class="board-and-scores">
        <div id="player-white" class="score">
            <div id="player-white-name" class="player-name">Human</div>
            <table id="player-white-moves">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tr>
                    <td class="move">&nbsp;</td>
                    <td class="time">00 : 00 : 00</td>
                    <td class="score">0</td>
                </tr>
            </table>
        </div>
        <div id="chess-board"></div>
        <div id="player-black" class="score">
            <div id="player-black-name" class="player-name">AI Agent</div>
            <table id="player-black-moves">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tr>
                    <td class="move">&nbsp;</td>
                    <td class="time">00 : 00 : 00</td>
                    <td class="score">0</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>